{% extends 'specs/base.html' %}

{% block content %}
<div class="container-text align-center m-w">
<div class="content-text">
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Установите новый пароль</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                <div>
                    <span>Новый пароль</span>
                    {{ form.new_password1 }}

                    <div class="field-error">
                        {{ form.new_password1.errors }}
                    </div>
                </div>
                <div>
                    <span>Повтор пароля</span>
                    {{ form.new_password2 }}

                    <div class="field-error">
                        {{ form.new_password2.errors }}
                    </div>
                </div>
                {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <button type="submit" class="btn">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
</div>

<style>
    .field-error {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #f50717;
        padding-left: 0px;
        padding-bottom: 10px;
    }
.btn {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 20px 0px;
    padding: 5px 40px;

    position: relative;
    text-align: right;
    background-color: transparent;
    cursor: pointer;

    border: none;
    border-radius: 14px;
    color: rgb(255 255 255);
    background-color: #5e9fff;
    text-decoration: none;

    transition: background .2s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.btn:hover {
    color: #fff;
    background-color: #1c86ff;
}

.btn:after {
    background-color: #1c86ff;
    color: #fff;
}
</style>
{% endblock %}