{% extends 'specs/base.html' %}
{% load static %}
{% block content %}
<div class="container-text align-center m-w">
    <div class="content-text">
        <div class="card mb-3 border-0 nth-shadow">
            <div class="card-body">
                <div class="card-title nth-card-title">
                    <h4>Запрос на восстановление пароля</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.email.label }}
                    {{ form.email }}
                    <div class="recaptcha margin-top-2">
                        {{ form.recaptcha }}
                    </div>
                    <button type="submit" class="btn-reg">Восстановить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .margin-top-2 {
        margin-top: 30px;
    }
</style>
{% endblock %}