@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif!important;
    font-size: 14px;
    color: #333;
    background-color: #EFF8F3;
    margin: 8px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.top {
    margin-bottom: 50px;
    min-height: 100%;
    flex: 1;
}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

.margin-top {
    margin-top: 130px;
}

/* Container */
.container-base {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-message {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-text {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    border-radius: 16px;
}

.container-text-footer {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #555;
    border-radius: 16px;
}

.margin-top-con-text {
    margin-top: 50px;
}

.container-alert {
    position: fixed;
    z-index: 9999;
    max-width: 1200px;
    width: 100%;
}

.content-text {
    width: 100%;
    margin-top: 110px;

    margin-bottom: 50px;
    word-wrap: break-word;
    color: #111;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.content-text-inner {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px 0px 10px 0px;
}

.content-text-post {
    width: 100%;
    margin-top: 20px;
    max-width: 1175px;

    color: #111;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

.text-post {

}

.content-text-title {
    color: #111;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	margin-top: 10px;
}

.content-text-title a {
    color: #111;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	margin-right: 20px;

}

.content-text-title a:hover {
    text-decoration: default;
}

.align-center {
    text-align: center;
}

.article-panel {
    box-sizing: border-box;
    font-size: 13px;
	font-family: 'Roboto', sans-serif;
    opacity: 0.8;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
    color: #555;
}

.header {
    width: 100%;
    background-color: rgba(11, 174, 238, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-message {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header2 {
    width: 100%;
    padding-top: 44px;
    background-color: #81AFFF;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #111;

	background: url('../images/logo.png') no-repeat 12px;
	width: 70px;
	height: 40px;

}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;

    padding-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
}

.nav__link  {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #111;
    text-decoration: none;

    transition: color .2s linear;
}


.nav__link:hover {
    color: #fff;
}

.nav__link:hover:after,  .nav__link:focus:after{
    width: 100%;
}

div.article-panel p.first {
    margin: 0;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}

.category {
    border: 1px solid #ed0e0e;
    padding: 3px 6px 3px 6px;
    border-radius: 12px;
    text-decoration: none;
    color: rgba(255, 0, 30, 0.69);
}

.category:hover {
    color: #000;
}

.tag {
    border: 1px solid #2f97f7;
    padding: 3px 6px 3px 6px;
    border-radius: 12px;
    text-decoration: none;
}

.tag:hover {
    color: #000;
}

div.article-panel p.last {
    margin: 0;
    float: right;
}

.clear {clear: both;}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 20px 0px;
    padding: 8px 40px;
    border: 2px solid #111;
    position: relative;
    text-align: right;
    background-color: transparent;
    cursor: pointer;

    border-radius: 14px;

    color: #111;
    text-decoration: none;

    transition: background .2s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.btn:hover {
    background-color: #93E4FB;
}

img {
    max-width: 100%;
    height: 100%;
}

p.align-center {
    text-align: center;
    margin-right: 20px;
}

.text-border {
    margin-right: 5px;
}
.text-border-add{
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.margin {
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 14px;
	font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
    color: #555;
}

.form-label {
    font-size: 16px;
}

.form-error {

}

ul {
    padding-left: 0px!important;
    margin-bottom: 0px!important;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 18px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
    vertical-align: top;
    margin: 20px 0px 10px 0px;
    padding: 2px 2px;
    position: relative;
    text-align: right;


    color: #111;
    text-decoration: none;
}

.list-pages .page-num-selected {
	color: #000;
	font-size: 18px;
	background-color: #93E4FB;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.btn-page {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 20px 0px;
    padding: 2px 10px;
    border: 2px solid #111;
    border-radius: 40px;
    position: relative;
    text-align: right;
    color: #111;
    text-decoration: none;

    transition: background .2s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.btn-page:hover {
    background-color: #93E4FB;
}


.btn-page-sel {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 20px 0px;
    padding: 2px 10px;
    border: 2px solid #111;
    position: relative;
    text-align: right;
    color: #111;
    text-decoration: none;
    border-radius: 40px;
    background-color: #93E4FB;
    transition: background .2s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.form-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #111;
    width: 100%;
    max-width: 100%;
    height: 160px;
    max-height: 160px;
    min-height: 160px;
    min-width: 100%;
    border: #111;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.nickname-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #111;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    max-width: 250px;
    border-color: #eee;

}

.form {
    width: 100%;
    max-width: 1200px;
}

.form-video-cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.cat {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #111;
    margin-left: -13px;
}

.already-acc {
    text-align: center;
    padding-bottom: 10px;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}

.already-acc a {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.already-acc a:hover {
    text-decoration: underline;
}

.forgot-pass {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
}

.forgot-pass a {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    opacity: 0.7;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

/* Важная часть */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all;
    z-index: 1000;
    cursor: pointer;

}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.2s all;

}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 600px;
    padding: 30px;
    transition: 0.2s all;
    cursor: default;
    border-radius: 16px;
    width: auto;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.2s all;
    width: auto;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s all;
}

.close-popup:hover {
    opacity: 1;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;

    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
    color: #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    margin: 20px 0px 20px 0px;
    padding: 8px 40px;
    border: 2px solid #111;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;

    border-radius: 24px;

    color: #111;
    text-decoration: none;
    transition: .2s all;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.popup button:hover {
    background: #111;
    color: #fff;
    transition: 0.2s all;
}

.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.text-registr {
    font-size: 14px;
    color: #111;
    opacity: 0.7;
}

.btn-vk {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 20px 0px;
    padding: 8px 40px;
    border: 2px solid #111;
    position: relative;
    text-align: right;

    background-color: #1F82F7;

    color: #fff;
    text-decoration: none;

    transition: opacity .1s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
    opacity: 0.8;
    border-radius: 6px;
}

.btn-vk:hover {
    opacity: 1;
}

.btn-google {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 20px 0px;
    padding: 8px 40px;
    border: 2px solid #111;
    position: relative;
    text-align: right;

    background-color: #F7FF51;

    color: #111;
    text-decoration: none;

    transition: opacity .1s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
    opacity: 0.8;
    border-radius: 6px;
}

.btn-google:hover {
    opacity: 1;
}

.buttons{
   text-align: center;
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.github a:hover {background:
#191919; color:
#fff;}
.youtube a:hover {background:
#c4302b; color:
#fff;}
.google-pluse a:hover {background:
#DD4B39; color:
#fff;}
.twitter a:hover {background:
#00acee; color:
#fff;}
.instagram a:hover {background:
#3f729b; color:
#fff;}
.facebook a:hover {background:
#3b5998; color:
#fff;}
.skype a:hover {background:
#00aff0; color:
#fff;}
.vk a:hover {background:
#5d84ae; color:
#fff;}
.odnoklassniki a:hover {background:
#f93; color:
#fff;}
.pinterest a:hover {background:
#c8232c; color:
#fff;}
.linkedin a:hover {background:
#0e76a8; color:
#fff;}
.telegram a:hover {background:
#249bd7; color:
#fff;}
.tumblr a:hover {background:
#34526f; color:
#fff;}
.windows a:hover {background:
#125acd; color:
#fff;}
.whatsapp a:hover {background:
#50b154; color:
#fff;}
.weibo a:hover {background:
#d52b2b; color:
#fff;}
.dropbox a:hover {background:
#1087dd; color:
#fff;}

.btn-2 {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 20px 0px;
    padding: 8px 40px;

    position: relative;
    text-align: right;

    color: #111;
    text-decoration: none;

    transition: background .2s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.btn-2:hover {
    background-color: #93E4FB;
}

.text-decornone{
    text-decoration: none;
}

.bg-google {
    background-color: #ea4335;
    transition: background-color .2s linear;
}
.bg-google:hover {
    background-color: #111;
}

.bg-vk {
    background-color: #1F82F7;
    transition: background-color .2s linear;
}
.bg-vk:hover {
    background-color: #111;
}

.bg-facebook {
    background-color: #3f64b1;
    transition: background-color .2s linear;
}
.bg-facebook:hover {
    background-color: #111;
}

.bg-twitter {
    background-color: #1da1f2;
    transition: background-color .2s linear;
}
.bg-twitter:hover {
    background-color: #111;
}

.item-acc {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    text-decoration: none;
}

.reg-acc-auth-text {
    text-align: center;
    font-size: 15px;
    color: #111;
    padding-top: 30px;
}

.reg-acc-auth {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding-top: 10px;
}

li {
    list-style: none;
}

.non-field-errors {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #f50717;
    text-align: center;

    padding-bottom: 10px;
}

.field-error {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #f50717;

    padding-left: 44px;
    padding-bottom: 10px;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-reg {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 20px 0px;
    padding: 5px 40px;

    position: relative;
    text-align: right;
    background-color: transparent;
    cursor: pointer;

    border: none;
    border-radius: 14px;
    color: rgb(255 255 255);
    background-color: #5e9fff;
    text-decoration: none;

    transition: background .2s linear;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.btn-reg:hover {
    color: #fff;
    background-color: #1c86ff;
}

.btn-reg:after {
    background-color: #1c86ff;
    color: #fff;
    border: none;
}

.already-acc {
    padding-top: 5px;
    text-align: center;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}

.already-acc a {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.already-acc a:hover {
    text-decoration: underline;
}

.forgot-pass {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
}

.forgot-pass a {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.input-text {
    font-size: 15px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 7px 0 43px
}

.label-input {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    padding-left: 7px;
    opacity: 0.9;
}

input {
    border: none;
    outline: none;
}

.block-reg {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reg-title {
    display: block;
    font-size: 32px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

.header-avatar {
    border-radius: 50%!important;
    margin-right: 5px;
    z-index: -20;
    position: relative;
}

.menu a{
    text-decoration: none;
}

.menu li{
    list-style: none;
    position: relative;
}

.menu__list {
    display: flex;
}

.menu__list>li:hover .sub-menu__list {
    display: block;
}

.sub-menu__list {

    position: absolute;
    left: 0;
    top: 15px;
    padding: 10px 0px 0px 0px;
}

.sub-menu__list>li {
    background-color: #fff;
}

.sub-menu__link {
    display: inline-block;
    padding: 5px 0px 0px 0px;
}

.dropbtn {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropbtn-2 {
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content-profile {
    margin-top: 5px!important;
}

.dropdown-content {
    border-radius: 12px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 145px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 13px;
}

.dropdown-content a {
    color: black;
    padding: 10px 6px;
    text-decoration: none;
    display: block;
}


.show {display: block;}

.nav__link-dd {
    display: inline-block;
    vertical-align: top;
    position: relative;

    color: #111;
    text-decoration: none;
    transition: .22s ease-in-out;
}


.nav__link-dd:hover {
    color: #111;
    background-color: #fafafa;
}

.nav__link-dd:hover:after,  .nav__link-dd:focus:after{
    width: 100%;
}

.ico-profile {
  color: #111;
  font-size: 20px!important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -2px;
  margin-left: -22px;
}

.position {
    padding-left: 30px!important;
}

.custom-form {
    width: auto!important;
    margin-left: auto;
    margin-right: auto;
}

.m-w {
    max-width: 650px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-top: 60px;
}

.alert {
    padding: 10px 10px!important;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 14px!important;
    text-align: center!important;
    width: 100%;
    z-index: 999;
}

.toggle-button {
    display: none;
}

.check {
    display: none;
}

.margin-menu {
    margin-top: 8px;
}

@media screen and (max-width: 540px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: right;
        margin-right: 20px;

    }
    .dropdown-content {
        margin-top: 0px;
        right: 190px;
    }
    .main-menu {
        position: relative;
        display: flex;
        flex-direction: column;
          position: fixed;
          list-style:none;
          margin: 0;
          box-sizing: border-box;
          width: 260px;
          background-color: #fff;
          height: 100%;
          top: 45px;
          padding-top: 20px;
          right: -260px;
          transition: right .28s;
          z-index: 2;
          -webkit-transform: translateZ(0);
          -webkit-backface-visibility: hidden;
          box-shadow: 0 4px 10px rgba(0,0,0,.1);
    }

    .menu-text {
        padding: 10px 0;
    }

    .main-menu img {
        width: 125px;
    }

    .menu-image {
        text-align: center;
    }

    .ico-menu {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background-size: 100%;
    }

/* icons */

    .ico-menu-login-path {
        background-image: url('../images/icons/login.svg');
    }

    .ico-menu-register-path {
        background-image: url('../images/icons/register.svg');
    }

    .ico-menu-plus-path {
        background-image: url('../images/icons/plus.svg');
    }

    .ico-menu-person_circle-path {
        background-image: url('../images/icons/person-circle.svg');
    }

    .ico-menu-shield-path {
        background-image: url('../images/icons/shield.svg');
    }

    .ico-menu-logout-path {
        background-image: url('../images/icons/logout.svg');
    }

/* icons end */

    .i-menu {
        display: inline-block;
        background-size: contain;
        background-position: 50% 50%;
        width: 24px;
        height: 24px;
        opacity: 0.6;
        margin-top: 8px;
    }

    .i {
        border-bottom: 1px solid #eee;
        margin-top: 10px;
    }

    .main-menu a .main-menu nav{
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }
    .nav__link {
        font-size: 15px;
        margin-top: 10px;
        padding: 0 32px;
        text-transform: none;
        display: flex;
        margin: 0;
        transition: .22s ease-in-out;
        color: #555;
    }
    .nav__link:hover {
        color: #555;
        background-color: #fafafa;
    }
    .nav__link:after {
        background-color: #111;
    }

    .menu-info {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #eee;
    }

    .inf {
        color: #b9a7a7;
        font-size: 14px;
        text-transform: none;
    }

    .inf:hover {
        color: #b9a7a7;
    }

    .p-b {
        padding-bottom: 15px;
    }

    .bor-b {
        padding-top: 10px;
        border-bottom: 1px solid #eee;
    }

    .logout-a {
        margin-top: 10px;
    }

    .toggle-button {
        display: block;
        cursor: pointer;
        color: #111;
          padding: 7px;
          position: fixed;
          right: 20px;
          transition: right .2s;
          z-index: 10000;
          width: 25px;
          -webkit-transform: translateZ(0);
          -webkit-backface-visibility: hidden;
    }

    .toggle-button span {
          display: block;
          height: 3px;
          background-color: #fff;
          margin: 5px 0 0;
          transition: all .1s linear .23s;
          position: relative;
    }
    .toggle-button first {
          margin-top: 0;
    }

    .check:checked ~ .toggle-button {

    }
    .check:checked ~ .main-menu {
        right: 0;
    }
    .check:checked ~ .toggle-button span.second {
        opacity: 0;
    }
}

.pbb {
    margin-top: 8px;
}

.g-recaptcha {
    text-align: center;
}

.recaptcha div div {
    width: 100%!important;
}

.footer {
    color: #fff;
    bottom: 0;
    min-height: 100px;
}

.footer-col {
    margin-left: 15px;
    padding-top: 10px;
}

.d-none {
    display: none!important;
}

.v-hidden {
    visibility: hidden!important;
}

.username-header {
    text-transform: none;

}