{% autoescape off %}

    Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.

	Если вы не запрашивали сброс пароля, проигнорируйте это сообщение.

	Для сброса пароля перейдите на следующую страницу:
	{% block reset_link %}
	    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
	{% endblock %}
	Ваше имя пользователя: {{ user.get_username }}



	Команда {{ site_name }}

{% endautoescape %}